<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="swu.edu.cn.dao.FacultyMapper">
  <resultMap id="BaseResultMap" type="swu.edu.cn.entity.Faculty">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="code" jdbcType="VARCHAR" property="code" />
    <id column="name" jdbcType="VARCHAR" property="name" />
    <id column="zipCode" jdbcType="VARCHAR" property="zipcode" />
    <id column="phone" jdbcType="VARCHAR" property="phone" />
    <id column="address" jdbcType="VARCHAR" property="address" />
    <id column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, zipCode, phone, address,description
  </sql>
  <select id="selectCodeAndName" resultMap="BaseResultMap">
    select 
    id,code,name
    from faculty order by id
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from faculty
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from faculty
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="swu.edu.cn.entity.Faculty">
    insert into faculty (id, code, name, 
      zipCode, phone, address, 
      description)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{zipcode,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="swu.edu.cn.entity.Faculty">
    insert into faculty
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="zipcode != null">
        zipCode,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null">
        #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="swu.edu.cn.entity.Faculty">
    update faculty
    <set>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
 
</mapper>