<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="swu.edu.cn.dao.TeacherMapper">
  <resultMap id="BaseResultMap" type="swu.edu.cn.entity.Teacher">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="nikename" jdbcType="VARCHAR" property="nikename" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="exmail" jdbcType="VARCHAR" property="exmail" />
    <result column="enrollmentYear" jdbcType="DATE" property="enrollmentyear" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="Role_id" jdbcType="INTEGER" property="roleId" />
    <result column="Input_id" jdbcType="INTEGER" property="inputId" />
    <result column="Input_time" jdbcType="DATE" property="inputTime" />
    <result column="Modify_id" jdbcType="INTEGER" property="modifyId" />
    <result column="Modify_time" jdbcType="DATE" property="modifyTime" />
    <result column="Delete_id" jdbcType="INTEGER" property="deleteId" />
    <result column="Delete_time" jdbcType="DATE" property="deleteTime" />
    <result column="degree" jdbcType="VARCHAR" property="degree" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, nikename, password, status, phone, exmail, enrollmentYear, description, 
    position, Role_id, Input_id, Input_time, Modify_id, Modify_time, Delete_id, Delete_time, 
    degree
  </sql>
  <select id="selectMaxCode" resultType="java.lang.Integer">
	  select max(RIGHT(CODE,6)+0) AS code2 
	  FROM teacher where id!=1
  </select>
  <select id="selectAll"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teacher
  </select>
  <select id="selectAllPage"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teacher
    LIMIT #{0},#{1}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teacher
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teacher
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="swu.edu.cn.entity.Teacher">
    insert into teacher (id, code, name, 
      nikename, password, status, 
      phone, exmail, enrollmentYear, 
      description, position, Role_id, 
      Input_id, Input_time, Modify_id, 
      Modify_time, Delete_id, Delete_time, 
      degree)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{nikename,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{phone,jdbcType=VARCHAR}, #{exmail,jdbcType=VARCHAR}, #{enrollmentyear,jdbcType=DATE}, 
      #{description,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER}, 
      #{inputId,jdbcType=INTEGER}, #{inputTime,jdbcType=DATE}, #{modifyId,jdbcType=INTEGER}, 
      #{modifyTime,jdbcType=DATE}, #{deleteId,jdbcType=INTEGER}, #{deleteTime,jdbcType=DATE}, 
      #{degree,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="swu.edu.cn.entity.Teacher">
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="nikename != null">
        nikename,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="exmail != null">
        exmail,
      </if>
      <if test="enrollmentyear != null">
        enrollmentYear,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="roleId != null">
        Role_id,
      </if>
      <if test="inputId != null">
        Input_id,
      </if>
      <if test="inputTime != null">
        Input_time,
      </if>
      <if test="modifyId != null">
        Modify_id,
      </if>
      <if test="modifyTime != null">
        Modify_time,
      </if>
      <if test="deleteId != null">
        Delete_id,
      </if>
      <if test="deleteTime != null">
        Delete_time,
      </if>
      <if test="degree != null">
        degree,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nikename != null">
        #{nikename,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="exmail != null">
        #{exmail,jdbcType=VARCHAR},
      </if>
      <if test="enrollmentyear != null">
        #{enrollmentyear,jdbcType=DATE},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="inputId != null">
        #{inputId,jdbcType=INTEGER},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=DATE},
      </if>
      <if test="modifyId != null">
        #{modifyId,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=DATE},
      </if>
      <if test="deleteId != null">
        #{deleteId,jdbcType=INTEGER},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=DATE},
      </if>
      <if test="degree != null">
        #{degree,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="swu.edu.cn.entity.Teacher">
    update teacher
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nikename != null">
        nikename = #{nikename,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="exmail != null">
        exmail = #{exmail,jdbcType=VARCHAR},
      </if>
      <if test="enrollmentyear != null">
        enrollmentYear = #{enrollmentyear,jdbcType=DATE},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        Role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="inputId != null">
        Input_id = #{inputId,jdbcType=INTEGER},
      </if>
      <if test="inputTime != null">
        Input_time = #{inputTime,jdbcType=DATE},
      </if>
      <if test="modifyId != null">
        Modify_id = #{modifyId,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null">
        Modify_time = #{modifyTime,jdbcType=DATE},
      </if>
      <if test="deleteId != null">
        Delete_id = #{deleteId,jdbcType=INTEGER},
      </if>
      <if test="deleteTime != null">
        Delete_time = #{deleteTime,jdbcType=DATE},
      </if>
      <if test="degree != null">
        degree = #{degree,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="swu.edu.cn.entity.Teacher">
    update teacher
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      nikename = #{nikename,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      exmail = #{exmail,jdbcType=VARCHAR},
      enrollmentYear = #{enrollmentyear,jdbcType=DATE},
      description = #{description,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      Role_id = #{roleId,jdbcType=INTEGER},
      Input_id = #{inputId,jdbcType=INTEGER},
      Input_time = #{inputTime,jdbcType=DATE},
      Modify_id = #{modifyId,jdbcType=INTEGER},
      Modify_time = #{modifyTime,jdbcType=DATE},
      Delete_id = #{deleteId,jdbcType=INTEGER},
      Delete_time = #{deleteTime,jdbcType=DATE},
      degree = #{degree,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>